.header {
    font-size: 2em;
    background-color: #253268;
    letter-spacing: 2rem;
    line-height: 1rem; 
    text-align: center;
    color: white; 
    font-family: monospace;
    font-weight: bold;
}
