.header {
    font-size: 8em;
    background-color: #253268;
    letter-spacing: 3rem;
    line-height: 3rem; 
    text-align: center;
    color: white; 
    font-family: monospace;
    font-weight: bold;
}